extends layout

block content
    h1 Cost Report for #{userId}
    each cost in costs
        div
            p Description: #{cost.description}
            p Category: #{cost.category}
            p Amount: #{cost.sum}
            p Date: #{cost.date}
            p -----------------------------------